html, body {
    height: 100%;
}

body {
    font-family: Montserrat, sans-serif;
}

.dark-gray {
    background-color: #212529;
}

#home {
    font-weight: bolder;
}

#timer {
    font-weight: bolder;
    font-size: 5rem;
}

.options-card {
    min-width: 480px;
}

.currTimer, .video-background {
    background-color: rgb(226, 226, 226);
}

.btn:focus{
    box-shadow: none;
}

.options-label {
    font-size: 0.85rem;
}

.wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.youtube-card {
    aspect-ratio: 16 / 9;
}

.del-button {
    font-weight: bold;
}

.footer, .wrap {
    min-width: 480px;
}

.footer, .push {
    height: 50px;
}