body {
    font-family: Montserrat, sans-serif;
}

.top-navbar {
    background-color: #212529;
}

#home {
    font-weight: bolder;
}

#timer {
    font-weight: bolder;
    font-size: 5rem;
}

.options-card {
    min-width: 480px;
}

.currTimer {
    background-color: rgb(226, 226, 226);
}

.btn:focus{
    box-shadow: none;
}

.options-label {
    font-size: 0.85rem;
}

.container {
    min-width: 480px;
}

.youtube-card {
    aspect-ratio: 16 / 9;
}

.video-background {
    background-color: rgb(226, 226, 226);
}

.del-button {
    font-weight: bold;
}