body {
    font-family: Montserrat, sans-serif;
}

.btn:focus {
    outline: none;
    box-shadow: 0px 0px 2px rgb(117, 117, 117);;
}

.navbar {
    font-family: 'Suez One', serif;
}

#timer {
    font-weight: bolder;
    font-size: 5rem;
}

.currTimer {
    box-shadow: 0px 0px 2px rgb(117, 117, 117);
}

.options-label {
    font-size: 0.85rem;
}